.buttons {
  display: inline-block;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
    font-family: 'Arial', monospace;
  transition: all 0.2s ease; /* ich hab die Geschwindigkeit der Animation von 500ms auf 200ms verrringert, damit es smoother aussieht */
  margin-bottom: 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.buttons:not(:disabled):hover { /*Wenn ein*/
  letter-spacing: 3px;
  background: rgba(15, 79, 227, 0.5);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3),
              0 0 10px rgba(115, 79, 127, 0.18);
}

.buttons:not(:disabled):active { 
  letter-spacing: 3px;
  background: rgba(15, 79, 227, 0.4);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  transform: translateY(10px);
  transition: 100ms;
}

.buttons:disabled:hover { /*Wenn aus*/
  cursor: not-allowed;
  animation: shake 0.2s ease-in-out; /* vorher 0,3s*/
  box-shadow: rgb(243, 57, 57) 0px 7px 29px 2px; /* X Y Blur Spread(größe) */
}
/*rot musst angepasst werden, damit es zum Hintergrund passt*/

body {
  margin: 0;
  min-height: 100dvh;

  --angle: 0deg;

  background: linear-gradient(
    var(--angle),
    rgba(12, 177, 242, 1) 0%,
    rgba(162, 87, 199, 1) 50%,
    rgba(237, 83, 83, 1) 100%
  );

  animation: rotateGradient 25s linear infinite;
}

.container {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.qb {
  position: fixed;   /* Lööst den Button komplett vom Container und heftet ihn an den Bildschirm */
  bottom: 20px;      /* Abstand zum untersten sichtbaren Rand (über mobilen Leisten) */       /* Abstand zum linken Rand */
  margin: 0;         /* Löscht alle alten, störenden Abstände */
  z-index: 10; 
}

a {
  color: black;
}

.font {
    font-family: Dejavu Sans Mono, monospace;
    
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateGradient {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@keyframes Grünschatten_an {
  0% {
    box-shadow: 0 0 10px rgba(57, 255, 57, 0);
  }

  50% {
    box-shadow: 0 0 20px rgba(57, 255, 57, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(57, 255, 57, 1);
  }

}

@keyframes Grünschatten {
  0% {
    box-shadow: 0 0 10px rgba(57, 255, 57, 0.9);
  }
  50% {
    box-shadow: 0 0 20px rgba(57, 255, 57, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(57, 255, 57, 0.9);
  }
}

.glow_green {
  animation: Grünschatten_an 0.2s ease forwards;
  animation: Grünschatten 1s ease-in-out infinite;
}